<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysj.manage.mapper.OrderMapper">

	<select id="orderList" resultType="Order">
		select * from tb_order
		order by updated desc
		limit #{start},#{rows}
	</select>

	<select id="orderList1" resultType="Order">
		select * from tb_order
		WHERE 1 = 1
		<if test="order.orderId != null and '' != order.orderId">
			AND order_id like #{order.orderId}
		</if>
		<if test="order.status != null">
			AND status LIKE #{order.status}
		</if>
		order by updated desc
		limit #{start},#{rows}
	</select>

</mapper>